@model Microsoft.AspNet.Identity.UserLoginInfo

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a href="@Url.Action("ViewProfile", "Profile")" class="btn btn-info">
            View Profile 
            <span class="arrow" aria-hidden="true"></span>
        </a></li>
        <li>
            <a href="@Url.Action("EditProfile", "Profile")" class="btn btn-info">
                Edit Profile
                <span class="arrow" aria-hidden="true"></span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Logout", "Login")" class="btn btn-info">
                Log Out
                <span class="arrow" aria-hidden="true"></span>
            </a>
        </li>
    </ul>
</div>

